@mixin border-unit ($width:1px, $color:$color-border, $style:solid) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}

@mixin ellipsis () {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin transition () {
  transition: border 0.1s, background 0.1s, color 0.1s;
}

@mixin replacement () {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

@mixin box-shadow() {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

@mixin form-common ($type:button) {
  @include border-unit();
  @include transition();
  box-sizing: border-box;
  padding: $spacing-unit-half;
  border-radius: 0;
  background-color: #fff;
  color: $color-font-lighter;
  font-size: $font-size;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  @if $type == button {
    &:hover,
    &:focus {
      color: $color-font;
      border-color: $color-font-lighter;
      background-color: $color-background-hover;
    }
  }
  @elseif $type == input {
    display: block;
    width: 100%;
    &:focus,
    &:hover {
      color: $color-font;
      border-color: $color-font-lighter!important;
      background-color: $color-background-hover!important;
    }
  }
  &.active {
     color: $color-brand!important;
     border-color: $color-brand!important;
     background-color: $color-brand-lighter!important;
  }
}

@mixin form-group () {
  @include border-unit(1px 1px 1px 0);
  margin: $spacing-unit-half 0;
  > textarea,
  > input,
  > select {
    @include border-unit(0 0 0 1px);
  }
  > .button--block {
    margin: 0 -1px 0 0;
    text-align: center;
  }
}

@mixin item-common () {
  position: relative;
  &:before {
    content: "\22c1";
    box-sizing: border-box;
    position: absolute;
    top: $spacing-unit-half;
    left: -($checkbox-unit);
    width: $checkbox-unit;
    padding: 1px 0 2px;
    border-radius: ($checkbox-unit/2) 0 0 ($checkbox-unit/2);
    color: $color-brand;
    background-color: #fff;
    @include border-unit(1px, $color-brand);
    font-size: $font-size-smallest;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s;
  }
  &.active {
    &:before {
      opacity: 1;
    }
  }
}