.editor {
  hr {
    @include border-unit(1px 0 0, lighten($color-border, 5), dashed);
    margin: $spacing-unit-half 0;
  }
  & {
    &__title {
      margin-bottom: $spacing-unit;
      font-size: $font-size-largest;
      font-weight: bold;
      text-transform: uppercase;
    }

    // Editor Section
    &__section {
      @include form-group();
      // Select Category Section
      &.category {
        position: relative;
        border-width: 0;
        .input {
          text-align: left;
          border-width: 1px!important;
          margin-left: -1px;
        }
        .selectbox {
          position: absolute;
          left: 0;
          right: 0;
          top: 42px;
          z-index: 100;
          @include box-shadow();
          .selectbox__item {
            color: $color-font-lightest;
            font-size: $font-size-smallest;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            .sticker {
              margin-right: 4px;
            }
          }
        }
      }
    }
  }
}