.icon {
  &:before {
    display: inline-block;
  }
}

.icon--caret-down {
  &:before {
    content: "\25bd";
  }
}
.icon--add {
  &:before {
    content: "\002b";
  }
}
.icon--config {
  &:before {
    content: "\002b";
  }
}