// 스티커
.sticker {
  display: inline-block;
  width: $font-size-smallest - $font-size-unit;
  height: $font-size-smallest - $font-size-unit;
  background-color: $color-font-lightest;
  vertical-align: baseline;
}

// 대체텍스트
.replacement {
  @include replacement();
}

// 버튼
.button {
  @include form-common();
  display: inline-block;
}
.button--block {
  display: block;
}
input.button--block {
  width: 100%;
}

// 인풋
.input {
  @include form-common(input);
}
.input-group {
  @include form-group();
}

// 100% 너비 좌우 정렬
.table {
  display: table;
  box-sizing: border-box;
  table-layout: fixed;
  width: 100%;
  .table__item {
    position: relative;
    display: table-cell!important;
    @include border-unit(1px 0 1px 1px);
    text-align: center;
    line-height: $spacing-unit;
    & + .table__item {
      border-right-width: 1px;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: 10;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      @include border-unit(1px, $color-font-lighter);
      transition: opacity 0.1s;
      opacity: 0;
    }
    &.active,
    &:focus,
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &.active {
      &:before {
        border-color: $color-brand;
      }
    }
  }
}

// 디자인 셀렉트박스
.selectbox {
  display: none;
  @include border-unit(1px 1px 1px 0);
  .selectbox__item {
    @include form-common();
    @include border-unit(0 0 0 1px);
    display: block;
    margin-top: -1px;
  }
  &.active {
    display: block;
  }
}

// 레이어
.layer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform-style: preserve-3d;
  .layer__dimmed {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
  }
  .layer__content {
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    padding: $spacing-unit;
    left: 50%;
    top: 20%;
    max-width: $layer-max-width;
    min-width: $layer-min-width;
    transform: translate(-50%, 0);
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.4);
  }
  .layer__title {
    margin: 0 0 $spacing-unit;
    color: $color-brand;
    font-size: $font-size-smaller;
    font-weight: bold;
  }
}
.layer.active {
  display: block;
}