/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  color: #444;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4; }

html,
body,
#content {
  height: 100%; }

a,
.link {
  color: royalblue; }
  a.is-disabled,
  .link.is-disabled {
    text-decoration: none;
    color: inherit;
    cursor: default; }

.sticker {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #dddddd;
  vertical-align: baseline; }

.replacement {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden; }

.button {
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d3;
  transition: border 0.1s, background 0.1s, color 0.1s;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0;
  background-color: #fff;
  color: #919191;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  display: inline-block; }
  .button:hover {
    color: #444;
    border-color: #919191;
    background-color: #fcfcfc; }
  .button.active {
    color: royalblue;
    border-color: royalblue;
    background-color: #f6f8fe; }
  .button:hover {
    color: #444;
    border-color: #919191;
    background-color: #fcfcfc; }
  .button.active {
    color: royalblue;
    border-color: royalblue;
    background-color: #f6f8fe; }

.button--block {
  display: block; }

input.button--block {
  width: 100%; }

.table {
  display: table;
  table-layout: fixed;
  border-width: 0 0 0 1px !important;
  border-style: solid;
  border-color: #d3d3d3;
  width: 100%; }
  .table .table__item {
    position: relative;
    display: table-cell !important;
    border-width: 1px 1px 1px 0 !important;
    text-align: center;
    line-height: 20px; }
    .table .table__item:before {
      content: "";
      position: absolute;
      z-index: 10;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      border-width: 1px;
      border-style: solid;
      border-color: #919191;
      transition: opacity 0.1s;
      opacity: 0; }
    .table .table__item.active:before, .table .table__item:hover:before {
      opacity: 1; }
    .table .table__item.active:before {
      border-color: royalblue; }

.selectbox {
  display: none;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #d3d3d3; }
  .selectbox .selectbox__item {
    border-width: 1px;
    border-style: solid;
    border-color: #d3d3d3;
    transition: border 0.1s, background 0.1s, color 0.1s;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0;
    background-color: #fff;
    color: #919191;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    -webkit-appearance: none;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #d3d3d3;
    display: block;
    margin-top: -1px; }
    .selectbox .selectbox__item:hover {
      color: #444;
      border-color: #919191;
      background-color: #fcfcfc; }
    .selectbox .selectbox__item.active {
      color: royalblue;
      border-color: royalblue;
      background-color: #f6f8fe; }
  .selectbox.active {
    display: block; }

.icon:before {
  display: inline-block; }

.icon--caret-down:before {
  content: "\25bd"; }

.icon--add:before {
  content: "\002b"; }

.taskflow {
  position: relative;
  height: 100%; }
  .taskflow .taskflow__aside {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    box-sizing: border-box;
    padding: 20px 20px;
    width: 350px;
    background-color: #f3f3f3;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #d3d3d3; }
  .taskflow .taskflow__body {
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    padding: 10px 10px 10px 365px;
    width: 100%; }
    .taskflow .taskflow__body .task-wrap {
      position: relative;
      display: table-cell;
      padding: 10px 5px; }
    .taskflow .taskflow__body .task-statement {
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }

.editor hr {
  border-width: 1px 0 0;
  border-style: dashed;
  border-color: #e0e0e0;
  margin: 10px 0; }

.editor .editor__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase; }

.editor .editor__textarea,
.editor .editor__input,
.editor .editor__item {
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d3;
  transition: border 0.1s, background 0.1s, color 0.1s;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0;
  background-color: #fff;
  color: #919191;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  display: block;
  width: 100%; }
  .editor .editor__textarea:focus, .editor .editor__textarea:hover,
  .editor .editor__input:focus,
  .editor .editor__input:hover,
  .editor .editor__item:focus,
  .editor .editor__item:hover {
    color: #444;
    border-color: #919191;
    background-color: #fcfcfc; }
  .editor .editor__textarea.active,
  .editor .editor__input.active,
  .editor .editor__item.active {
    color: royalblue;
    border-color: royalblue;
    background-color: #f6f8fe; }

.editor .editor__item {
  position: relative; }
  .editor .editor__item:before {
    content: "\22c1";
    box-sizing: border-box;
    position: absolute;
    top: 10px;
    left: -14px;
    width: 14px;
    padding: 1px 0 2px;
    border-radius: 7px 0 0 7px;
    color: royalblue;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: royalblue;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s; }
  .editor .editor__item.active:before {
    opacity: 1; }

.editor .editor__textarea {
  resize: none; }

.editor__section {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #d3d3d3;
  margin: 10px 0; }
  .editor__section .editor__textarea,
  .editor__section .editor__input,
  .editor__section .editor__select,
  .editor__section .editor__item {
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: #d3d3d3; }
  .editor__section .button--block {
    margin: 0 -1px 0 0;
    text-align: center; }
  .editor__section.category {
    position: relative; }
    .editor__section.category .button {
      width: 42px; }
    .editor__section.category .editor__input {
      text-align: left;
      border-width: 1px !important;
      margin-left: -1px;
      width: 267px; }
    .editor__section.category .selectbox {
      position: absolute;
      left: -1px;
      right: 1px;
      z-index: 100;
      -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); }
      .editor__section.category .selectbox .selectbox__item {
        color: #dddddd;
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase; }
        .editor__section.category .selectbox .selectbox__item .sticker {
          margin-right: 4px; }

.task {
  border-width: 1px;
  border-style: solid;
  border-color: #d3d3d3;
  transition: border 0.1s, background 0.1s, color 0.1s;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer; }
  .task .task__category {
    margin-bottom: 5px;
    color: #dddddd;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase; }
    .task .task__category .sticker {
      margin-right: 4px; }
  .task .task__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    font-weight: bold; }
  .task .task__deploy,
  .task .task__origin,
  .task .task__detail {
    color: #919191;
    font-size: 12px; }
    .task .task__deploy i,
    .task .task__origin i,
    .task .task__detail i {
      display: inline-block;
      margin-left: 10px; }
  .task .task__detail .sticker-wrap {
    display: inline-block; }
    .task .task__detail .sticker-wrap .sticker + .sticker {
      margin-left: 4px; }
  .task:hover {
    background-color: #fcfcfc; }

/*# sourceMappingURL=maps/app.css.map */
